// _user-variables.scss
// Use this to override Bootstrap and Cartzilla variables
//
// Example of a variable override to change Cartzilla background color
// Remove the "//" to enable variables and apply the changes
//
// $body-bg: #f9fafb;
// $body-bg-dark: #111827;
$font-size-root: 1.1rem !default;
$font-size-base: $font-size-root !default;
$font-size-xl: $font-size-base * 1.25 !default;
$font-size-lg: $font-size-base * 1.125 !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-xs: $font-size-base * .6 !default;
